.low-energy-use {
  color: green;
}

.medium-use {
  color: yellow;
}

.high-energy-use {
  color: red;
}

body {
  font-size: 18px;
  text-align: center;
  background-color: #9996F7;
  padding: 100px; */
  font-family: 'Poppins', sans-serif;}
  background-image: url("public/image/thermometer.png");
}
/* <!-- background-repeat: no-repeat; --> */
